@{ 
    ViewBag.Title = "Главная страница";
}

<br>
<div>
    <p class="text-left">Игровая индустрия не стоит на месте и каждый год разработчики предоставляют всему миру игры, которые созданы при помощи новых технологий.<br> Предлагаю узнать о нескольких наиболее известных компаний, которые выпустили огромное количество игр, ставших культовыми.</p>
</div>
<div>
    <ul>
        <li><a onclick="location.href='@Url.Action("ToFirstCompany","Home")'">Ubisoft</a></li>
        <li><a onclick="location.href='@Url.Action("ToSecondCompany","Home")'">Nintendo</a></li>
        <li><a onclick="location.href='@Url.Action("ToThirdCompany","Home")'">Valve</a></li>
    </ul>
</div>



