@{
    ViewBag.Title = "Ubisoft";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>

<div>
    <img  src="https://cdn.shazoo.ru/c1430x645/72209_g1qLUiwGIR_rooi.jpg" height="200" >
</div>
<div>
    <strong><p>Год снования : 1986 год</p>
    <p>Основатели : Кристиан Гиймо, Клод Гиймо, Жерар Гиймо, Мишель Гиймо, Ив Гиймо</p>
    </strong>
</div>
<div>
    <p>Пятеро братьев Гиймо основали Ubisoft в 1986 году во Франции. Первой игрой, выпущенной компанией в том же году, стала Zombi, отличающаяся новаторством сочетания жанра приключенческого боевика c иконковым интерфейсом, за что получившая признание критиков. Ив Гиймо скоро наладил дела с Electronic Arts, Sierra On-Line и Microprose на издание их игр во Франции. В конце десятилетия Ubisoft расширилась на другие игровые рынки, включая США, Великобританию и Германию. Компания переживала стремительный рост и к 1989 году её выручка составила 10 млн долларов США.</p>
    <p> Ubisoft создала несколько успешных и награждённых призами игр, среди которых <strong>Assassin's Creed, Tom Clancy's Splinter Cell, Prince of Persia: The Sands of Time, XIII, Far Cry 2, Rayman 3, Tom Clancy's Rainbow Six 3: Raven Shield и Beyond Good & Evil</strong>.</p>
</div>
