@{
    ViewBag.Title = "Valve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>

<div>
    <img src="https://mycyberplanet.com/wp-content/uploads/2018/08/fernando-cisternas-just-a-valve-logo-passing-through-by-fernoxx-d6xu4ts.jpg" height="200">
</div>
<div>
    <strong>
        <p>Год снования : 1996 </p>
        <p>
            Основатели : Гейб Ньюэлл, Майк Харрингтон
        </p>
    </strong>
</div>
<div>
    <p>
      После тринадцати лет работы в компании Microsoft, Гейб Ньюэлл, совместно с Майком Харрингтоном, в 1996 году основывает компанию Valve Software, под попечительством Sierra Studios. Для упрощения была приобретена лицензия движка игры Quake, после чего началась полуторагодовая разработка игры Half-Life (HL).
    </p>
    <p>
        Рабочим названием игры был «Quiver». Для работы над сценарием был приглашён профессиональный писатель-фантаст Марк Лэйдлоу. Игра стала научно-фантастическим трёхмерным шутером от первого лица. Гейб и Майк хотели создать нечто похожее на DOOM, такое же мрачное творение. Игра получила более пятидесяти наград издательств, среди которых титул «Лучшая игра всех времён».
    </p>
    <p> Valve создала много серий компьютерных игр , среди которых <strong>Half-Life, Portal, Counter-Strike, Team Fortress, Day of Defeat, Left 4 Dead, Ricochet, Alien Swarm и Dota 2</strong>.</p>
</div>
