@{
    ViewBag.Title = "Nintendo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>

<div>
    <img src="http://www.fatalgame.com/wallpapers/videogames/22443_big.jpg" height="200">
</div>
<div>
    <strong>
        <p>Год снования : 1889 </p>
        <p>Основатели : Фусадзиро Ямаути</p>
    </strong>
</div>
<div>
    <p>Компания была основана в Киото 23 сентября 1889 года Фусадзиро Ямаути (22 ноября 1859 — январь 1940) (прадедушкой президента компании Хироси Ямаути, который превратил её в игровое издательство) и изначально называлась «Нинтэндо Коппай». Компания начала выпускать игральные карты «Ханафуда» в особом японском стиле (они были нарисованы вручную), которые быстро завоевали популярность, и компания прочно закрепилась на японском рынке игрушек. У Ямаути не было сына, которому он смог бы передать по наследству семейный бизнес, поэтому, следуя древней японской традиции, он назначил преемником своего будущего зятя Сэкирё Канэду (1883—1949). Тому пришлось взять девичью фамилию супруги и стать Сэкирё Ямаути.</p>
    <p> Nintendo создала много успешных игр, среди которых <strong>Super Mario, Wave Race, Pokemon Stadium, Mario Kart, Star Fox, GoldenEye 007, Diddy Kong Racing, The Legend of Zelda: Ocarina of Time, Banjo-Kazooie, Super Smash Brothers и др.</strong>.</p>
</div>

